API_BASE_URL=api_address

API_WARMUP_IN_SECONDS=number

TELEGRAM_BOT_ID=9999999999:XXXxxxXXxxXXxxXXxxXXxx-xxXXxxXXxxXxXx
TELEGRAM_CHAT_ID=-9999999999

NOTIFY_ON_SUCCESS=false
SEND_NOTIFICATION=false
SEND_NOTIFICATION_TO=TELEGRAM|TEAMS

INFLUXDB_LOCALHOST=http://localhost:8086/database-name

K6_PROMETHEUS_URL=https://<SUA_URL_AQUI>/api/prom/push
K6_PROMETHEUS_USER=<SEU_USER_ID>
K6_PROMETHEUS_PASSWORD=<SEU_TOKEN_API>